body {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  padding: 0.5em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  border-radius: 0.4em;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}