body {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  padding: 0.5em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  border-radius: 0.4em;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.card-choices {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-selection {
  padding: 0.5em;
  border-radius: 0.4em;
  background-color: #eee;
}

.card {
  flex: 0 1 40em;
  box-shadow: 0.05em 0.05em 0.2em #000;
  background-color: #abc;
}

.card-shown {
  display: flex;
  flex-direction: column;
}

.card-hidden {
  display: none;
}

.card-header {
  padding: 0.5em;
  color: #445;
}

.card-section-header {
  color: #445;
  margin: 0;
  padding: 0;
}

.card-section-header-title {
  font-weight: bold;
  font-size: 120%;
}

.card-errors {
  background: #dcc;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 0.0em;
  margin-right: 0.0em;
  padding: 0.5em;
}

.card-error {
  color: #F44;
}

.card-header h1,
.card-header h2 {
  text-align: center;
  text-shadow: 0.02em 0.02em 0.04em #579;
  font-weight: 400;
  margin: 0.1em;
}

.card-header h1 {
  font-size: 160%;
}

.card-header h2 {
  font-size: 140%;
}

.card-body {
  margin: 0;
  padding: 0;
}


.card-section-text {
  padding: 0.5em;
  color: #224;
}

.card-section {
  padding: 0.5em;
  background-color: #9AB;
  border-top: 1px #ddd solid;
}

.card-section:first-child {
  border-top: none;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 0.2em;
}

.card-prompt {
  padding: 0.3em;
  padding-bottom: 0.3em;
}

.card-input {
  padding: 0.3em;
  display: flex;
  border: none;
  flex-direction: column;
}

.card-input-checkbox {
  margin: 0.5em;
  height: 1em;
}

.card-text {
  background-color: #ABC;
  padding: 0.5em;
  border: none;
}

.card-input:focus,
.card-text:focus,
.card-input-checkbox:focus,
.card-selection:focus,
button:focus,
.card-table-row:focus {
  outline: 2px dashed #445;
  outline-offset: 0.2em;
}

.card-action-list {
  padding: 0.3em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-x: auto;
}

.card-table {
  padding: 0em;
  border-spacing: 0px;
  border: none;
  border: 1px solid #568;
  border-collapse: collapse;
  overflow-x: scroll;
}

.card-table thead th,
.card-table tbody td {
  /* border: 1px solid #999; */
  padding: 0.3em;
  border-collapse: collapse;
}

.card-table thead tr th {
  background-color: #ccc;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

.card-table tbody tr {
  background-color: #eee;
}

.card-button {
  background-color: #568;
  color: #eee;
  padding: 0.5em;
  margin: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #457;
  /* box-shadow: 0.05em 0.05em 0.2em #000; */
  border-radius: 0.4em;
  white-space: nowrap;
}

.card-modal {
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-busy {
  color: #ccc;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-loader {
  border: 3px solid #BA8;
  display: flex;
  flex-direction: column;
}

.card-loader div {
  border: 3px solid #BA8;
  height: 1em;
  width: 3em;
  margin: 0.4em;
  animation: card-loader 1s linear infinite;
}

.card-loader div:nth-child(1) {
  animation-delay: -0.5s;
}

.card-loader div:nth-child(2) {
  animation-delay: -1.0s;
}

.card-loader div:nth-child(3) {
  animation-delay: -1.5s;
}

.card-loader div:nth-child(3) {
  animation-delay: -0.5s;
}

@keyframes card-loader {
  0% {
    flex: 0 0 .5em;
  }

  25% {
    flex: 0 0 1.5em;
  }

  50% {
    flex: 0 0 2.0em;
  }

  75% {
    flex: 0 0 1.5em;
  }

  100% {
    flex: 0 0 0.5em;
  }
}